* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: Raleway, sans-serif;
  line-height: 1.3;
}

body {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  display: block;
}

.mt-0 {
  margin-top: 0;
}

h1, h2 {
  font-family: Merriweather, serif;
}

header {
  background-color: #eee;
  padding: 1.2% 0;
}

header h1, h2 {
  text-align: center;
}

header h2 {
  margin-top: 0.5%;
  font-size: 1.2rem;
}

#usercp main {
  padding: 2% 0;
  justify-content: center;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main a {
  text-decoration: none;
  border-bottom: 0.085em solid transparent;
  transition: border-bottom .3s linear;
}

main a:hover {
  border-bottom: 0.085em solid #0000EE;
}

main p, main a {
  margin: 2% 0;
}

main .error-message {
  margin: 2%;
}

main form {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 60%;
  padding: 2% 0;
  align-items: center;
}

main form .field_wrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5% 0;
}

main form label {
  width: 30%;
  padding: 1.25%;
}

main form input {
  padding: 1.25%;
  outline: none;
  border: 0.085em solid gray;
  width: 70%;
}

main form input:hover {
  border-color: green;
}

main form input:focus {
  border-color: blue;
}

main form input[type="submit"] {
  width: 28%;
  margin: 1.5% 0;
  font-size: 1.3rem;
  background-color: cornflowerblue;
  border: none;
  border-radius: 3em;
  color: white;
  letter-spacing: 0.05em;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

main #user_info {
  background-color: #eee;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

main #user_info ul {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

main #user_info li {
  list-style-position: inside;
  width: 90%;
  padding: 0.5% 0;
  margin: 1% 0;
}

footer {
  background-color: #eee;
  padding: 0.5%;
}

footer #github-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #666;
  padding: 0 10px;
  text-decoration: none;
  transition: color .3s linear;
}

footer a:hover {
  color: black;
}

footer #github-icon {
  height: 25px;
  width: 25px;
  margin: 0 20px;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 2% 0;
  }
  header h2 {
    margin-top: 0.8%;
  }
  main p {
    margin: 3% 0;
  }
  main form {
    width: 75%;
    padding: 3% 0;
  }
  main form .field_wrap {
    width: 85%;
    margin: 2% 0;
  }
  main form label, main form input {
    padding: 1.75%;
  }
  main form input[type="submit"] {
    width: 30%;
    margin: 2% 0;
  }
  footer {
    padding: 1%;
  }
}

@media only screen and (max-width: 860px) {
  header {
    padding: 2.5%;
  }
  header h2 {
    margin-top: 1%;
  }
  main p {
    margin: 3.5%;
  }
  main form {
    width: 90%;
    padding: 3.5%;
  }
  main form .field_wrap {
    width: 98%;
  }
  main form input[type="submit"] {
    width: 40%;
  }
  footer {
    padding: 1.5%;
  }
  footer a {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 580px) {
  header {
    padding: 3.5%;
  }
  header h2 {
    margin-top: 1.5%;
  }
  #usercp main {
    padding: 4% 0;
  }
  main p {
    margin: 4.5%;
  }
  main form {
    width: 100%;
  }
  main form .field_wrap {
    width: 100%;
    margin: 2.5% 0;
  }
  main form label, main form input {
    padding: 2.25%;
  }
  main form input[type="submit"] {
    width: 50%;
    margin: 2.5% 0;
  }
  footer {
    padding: 2%;
  }
  footer a {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 515px) {
  #usercp main {
    padding: 6% 0;
  }
  main form .field_wrap {
    flex-direction: column;
  }
  main form label, main form input {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  main form input[type="submit"] {
    width: 65%;
  }
}
